<div id="pageContent">
  <div id="header">
    <ul>
      <li>Home</li>
      <li>Sobre nós <img src="assets/Icons/DropdownArrow.png"></li>
      <li>Conectar <img src="assets/Icons/DropdownArrow.png"></li>
      <li>Instituto Zao</li>
      <li>Contato</li>
      <li>OFERTAS</li>
    </ul>
  </div>

  <div class="firstContainer"></div>
  <div class="gradientSection">
    <div class="Container2">
      <img src="assets/Container1/textVector.svg">
      <div>
        <h2>INFORMAÇÕES DO EVENTO:</h2>
        <p>
          A Voz de Sião é a conferência anual da Zion Church.
          <br><br>
          Serão <strong>três dias</strong> cheios de palavra, adoração, ministração e encontros sobrenaturais com o Senhor. Com o propósito de equipar, treinar e provocar uma transformação de mentalidade em indivíduos e famílias com o poder do Espírito Santo e os princípios do Reino de Deus.
          <br><br>
          Não fique de fora do que Deus preparou para você nestes dias.
        </p>
        <div>
          <img src="assets/Container1/LocationIcon.svg">
          <span>Av. Visc. de Jequitinhonha, 374 - Boa Viagem, Recife - PE, 51030-020</span>
        </div>
      </div>
      <p style="clear: both"></p>
    </div>

    <div class="Container3">
      <img src="assets/Container3/FirstGroupBg.png">
      <img src="assets/Container3/SecondGroupBg.png">
      <div></div>
    </div>

    <div class="Container4">
      <img src="assets/Container4/PadreBg.png">
      <p style="clear: both"></p>
      <div>
        <h2>ENTRADA PARA PASTORES</h2>
        <p>Serão <strong>três dias</strong> cheios de palavra, adoração, ministração e encontros sobrenaturais com o Senhor. Nosso propósito é equipar, capacitar, e provocar uma transformação de mentalidade nas pessoas e nas famílias, através do poder do <strong>Espírito Santo e dos princípios do Reino de Deus.</strong></p>
        <button onclick="location.href='[substituir wpp]'">SAIBA MAIS</button>
      </div>
    </div>

    <div class="Container5">
      <div>
        <div class="leftMostCard">
          <button>Comprar Ingresso</button>
        </div>
        <div></div>
        <div class="middleCard">
          <button onclick="location.href='[substituir link e-ingresso]'">Comprar Ingresso</button>
        </div>
        <div class="divider"></div>
        <div class="rightMostCard">
          <img src="assets/Container5/RightMostCards1.png">
          <img src="assets/Container5/RightMostCards2.png">
        </div>
      </div>
      <p>*Compras de ingressos podem ser realizadas  diretamente na Zion Recife</p>
    </div>

    <div class="FAQContainer">
      <h1>FAQ</h1>
      <ul class="faqList">
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Onde e quando acontecerá a Conferência VDS 23?<div></div></button>
          <div>
            <p>A Conferência VDS acontecerá nos dias 25, 26 e 27 de agosto, na igreja Zion Recife, localizada na Av. Visconde de Jequitinhonha, 374 – Boa Viagem – Recife/PE.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">O que está incluso na minha inscrição?<div></div></button>
          <div>
            <p>O valor inclui uma entrada individual, que dá acesso a todos os dias do evento, e um kit conferencista.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Como posso fazer a inscrição?<div></div></button>
          <div>
            <p>Você pode comprar sua inscrição através do site ou na mesa de informações em algum dos nossos cultos de domingo.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">A VDS 23 é aberta para outras igrejas?<div></div></button>
          <div>
            <p>Sim, as inscrições para a VDS 23 são abertas ao público. Não é restrita à Zion Church.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Quais são as formas de pagamento?<div></div></button>
          <div>
            <p>Teremos duas formas de pagamento: por PIX ou por cartão de crédito/débito.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Há a possibilidade de pedir reembolso?<div></div></button>
          <div>
            <p>Não, as entradas não são reembolsáveis.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Crianças precisam pagar a inscrição?<div></div></button>
          <div>
            <p>Crianças a partir de 2 anos pagam o valor completo da inscrição. Crianças abaixo de 2 anos não pagam.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Haverá um lugar específico para as crianças maiores de 2 anos ficarem?<div></div></button>
          <div>
            <p>Não, cada pai terá a responsabilidade de cuidar do seu filho.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">O berçário funcionará?<div></div></button>
          <div>
            <p>Sim, o berçário estará aberto. Mas, os pais serão responsáveis por cuidar dos seus bebês.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Como encontro a minha inscrição?<div></div></button>
          <div>
            <p>Depois de se inscrever para o evento, você receberá um e-mail com a confirmação de sua compra e inscrição. Se por acaso você não encontrar esse e-mail, pode procurar por “e-inscrição” no spam ou no lixo eletrônico. Você também poderá encontrar a sua inscrição dentro da sua conta no site da E-inscrição (www.e-inscricao.com).<br>No dia do evento, você deverá trazer a sua entrada impressa ou de forma digital.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Haverá estacionamento disponível?<div></div></button>
          <div>
            <p>A igreja Zion Recife não dispõe de estacionamento. Sugerimos estacionar no Mar Hotel ou no Hospital Nossa Senhora das Graças, o valor do estacionamento deles é cobrado pela sua administração, não tendo relação com a igreja. Também temos ruas ao redor da igreja, mas não garantimos a segurança e proteção do seu veículo.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Como funcionará a parte de alimentação?<div></div></button>
          <div>
            <p>Nos três dias da conferência, funcionará o Ohana Café. Além disso, próximo à igreja,  há outras opções de restaurantes. Também há a opção do Shopping Recife, que se encontra à 2km da igreja.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Posso compartilhar a minha inscrição com outra pessoa entre as sessões ou por dia?<div></div></button>
          <div>
            <p>Não, a inscrição é individual e exclusiva para apenas uma pessoa durante todos os dias da VDS 23.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">O que devo levar para a VDS 23?<div></div></button>
          <div>
            <p>Para os dias do evento, recomendamos levar a sua inscrição, garrafa de água, bloco de notas e muita fome por mais de Deus.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Devo apresentar a minha inscrição todos os dias da VDS 23?<div></div></button>
          <div>
            <p>Não. Apenas no primeiro dia que você for, após a apresentação e confirmação da sua inscrição, você receberá uma pulseira que deverá ser usada em todos os dias da conferência.</p>
          </div>
        </li>
        <li class="faqItem">
          <button class="hidden" (click)="openFaqCard($event.target)">Haverá livros ou roupas para vender?<div></div></button>
          <div>
            <p>Sim, teremos livros e algumas peças de roupas para vender no Shaba Store, que fica no hall de entrada da igreja.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

    </div>
  </div>

  <div id="footer">
    <div>
      <img src="assets/Icons/ZionChurchIcon.png">
      <p>
        “<strong>Tocai a trombeta em Sião</strong>, e <strong>clamai em alta voz</strong> no meu santo monte; <strong>tremam todos os moradores da terra</strong>, porque o dia do <strong>SENHOR vem</strong>, já está perto;<br>
        Dia de trevas e de escuridão; dia de nuvens e densas trevas, como a alva espalhada sobre os montes; <strong>povo grande e poderoso</strong>, qual <strong>nunca houve</strong> desde o tempo antigo, nem depois dele haverá pelos anos adiante, de geração em geração” - Joel 2:1-2
      </p>
      <div>
        <a href="https://www.instagram.com/zionrecife/"><img src="assets/Icons/InstagramIcon.png"></a>
        <a href="https://podcasters.spotify.com/pod/show/zion-church-recife"><img src="assets/Icons/SpotifyIcon.png"></a>
        <a href="https://www.youtube.com/c/ZIONRECIFE"><img src="assets/Icons/YoutubeIcon.png"></a>
        <a><img src="assets/Icons/WhatsappIcon.png"></a>
      </div>
    </div>
    <div>
      <div>
        <h2>Recife</h2>
        <p>
          CAMPUS RECIFE<br>
          Rua Visconde de Jequitinhonha, 374<br>
          Boa viagem. Recife, PE
        </p>
      </div>
      <div>
        <h2>Contato</h2>
        <p>
          recife@zionchurch.org.br<br>
          +55 81 9303-2760 (WhatsApp)
        </p>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
